{# Here we set a dictionary of jobs used in Cartesian tests. #}
{# These can then be imported into the main rose stem groups as required #}

{%- set cartesian_groups = {
                'cartesian-all':['run_application( "gungho", "biperiodic_p0_gw", resolutions=[("BiP420x4-1000x2000",10.0)], checkkgo=False,
                                                 plotstr="gw_cart_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR 420 4 theta T000000:T000300 $PLOT_DIR")',
                                 'run_application( "gungho", "straka_200m",resolutions=[("BiP256x4-200x200",2.0)],checkkgo=False,
                                                 env={"crun":1, "nrun":450,
                                                      "directives":{"default":{"mpi_parts":8,"panel_decomp":' + row + ',"threads":1,"wallclock":"02:00:00", "use_xios":"False"} } },
                                                 plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR 256 4 theta T000450 $PLOT_DIR" )',
                                 'run_application( "gungho", "straka_100m",resolutions=[("BiP512x4-100x100",1.0)],checkkgo=False,
                                                 env={"crun":1, "nrun":900,
                                                      "directives":{"default":{"mpi_parts":32,"panel_decomp":' + row + ',"threads":1,"wallclock":"02:00:00", "use_xios":"False"} } },
                                                 plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR 512 4 theta T000900 $PLOT_DIR" )',
                                 'run_application( "gungho", "straka_50m", resolutions=[("BiP1024x4-50x50",0.5)],checkkgo=False,
                                                 env={"crun":1, "nrun":1800,
                                                      "directives":{"default":{"mpi_parts":128,"panel_decomp":' + row + ',"threads":1,"wallclock":"03:00:00", "use_xios":"False"} } },
                                                 plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR 1024 4 theta T001800 $PLOT_DIR" )',
                                 'run_application( "gungho", "straka_25m", resolutions=[("BiP2048x4-25x25",0.25)],checkkgo=False,
                                                 env={"crun":2, "nrun":1800,
                                                      "directives":{"default":{"mpi_parts":512,"panel_decomp":' + row + ',"threads":1,"wallclock":"03:00:00", "use_xios":"False"} } },
                                                 plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR 2048 4 theta T003600 $PLOT_DIR" )',
                                 'run_application("gungho", "agnesi_hyd_cart", resolutions=[("BiP120x4-2000x2000", 20.0)], checkkgo=False,
                                                 env={"crun": 1, "nrun": 750,
                                                      "directives":{"default":{"mpi_parts":20,"threads":1,"wallclock":"03:00:00"} } },
                                                 plotstr="cartesian_mountain_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR u 3  T000750 2 2 hmw zoom_1 lines $PLOT_DIR")',
                                 'run_application("gungho", "agnesi_nhyd_cart", resolutions=[("BiP360x4-400x400", 5.0)], checkkgo=False,
                                                 env={"crun": 2, "nrun":900,
                                                      "directives":{"default":{"mpi_parts":72,"threads":1,"wallclock":"03:00:00"} } },
                                                 plotstr="cartesian_mountain_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR u 3 T001800 2 2 nhmw zoom_1 lines $PLOT_DIR")',
                                 'run_application("gungho", "schar_cart_8s_inconsistent", resolutions=[("BiP200x4-500x500", 8.0)], checkkgo=False,
                                                 env={"crun": 1, "nrun":2250,
                                                      "directives":{"default":{"mpi_parts":25,"threads":1,"wallclock":"02:30:00"} } },
                                                 plotstr="cartesian_mountain_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR u 3 T002250 2 2 schar zoom_1 lines $PLOT_DIR")',
                                 'run_application("gungho", "schar_cart_8s", resolutions=[("BiP200x4-500x500", 8.0)], checkkgo=False,
                                                 env={"crun": 1, "nrun":2250,
                                                      "directives":{"default":{"mpi_parts":25,"threads":1,"wallclock":"02:30:00"} } },
                                                 plotstr="cartesian_mountain_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR u 3 T002250 2 2 schar zoom_1 lines $PLOT_DIR")',
                                 'run_application("gungho", "schar_cart_40s", resolutions=[("BiP200x4-500x500", 40.0)], checkkgo=False,
                                                 env={"crun": 1, "nrun":450,
                                                      "directives":{"default":{"mpi_parts":25,"threads":1,"wallclock":"02:00:00"} } },
                                                 plotstr="cartesian_mountain_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR u 3 T000450 2 2 schar zoom_1 lines $PLOT_DIR")',
                                 'run_application( "gungho", "warm3dbubble",resolutions=[("BiP100x100-10x10",1.25)], checkkgo=False,
                                                 env={"crun":4, "nrun":90,
                                                      "directives":{"default":{"mpi_parts":100,"threads":3,"wallclock":"02:30:00"} } },
                                                 plotstr="warm3dbubble.py ' + appDiagStemName + ' $NODAL_DATA_DIR 100 100 theta T000000:T000160:T000320 $PLOT_DIR 0")',
                                 'run_application( "gungho", "warm3dbubble_small",resolutions=[("BiP50x50-20x20",2.5)], checkkgo=False,
                                                 env={"crun":1, "nrun":160,
                                                      "directives":{"default":{"mpi_parts":20,"threads":4,"wallclock":"02:30:00"} } },
                                                 plotstr="warm3dbubble.py ' + appDiagStemName + ' $NODAL_DATA_DIR 50 50 theta T000000:T000040:T000080:T000120:T000160 $PLOT_DIR 1")',
                                 'run_application("gungho", "schar3d_cart_8s", resolutions=[("BiP200x200-500x500", 8.0)], checkkgo=False,
                                                 env={"crun": 15, "nrun":150,
                                                      "directives":{"default":{"mpi_parts":400,"threads":1,"wallclock":"02:30:00"} } },
                                                 plotstr="cartesian_mountain_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR u 3 T002250 100 100 schar3d zoom_1 lines $PLOT_DIR")',
                                 'run_application("gungho", "bell_3d_cart", resolutions=[("BiP300x200-200x200", 4.0)], checkkgo=False,
                                                 env={"crun":10, "nrun":90,
                                                      "directives":{"default":{"mpi_parts":600,"threads":1,"wallclock":"02:00:00"} } },
                                                 plotstr="cartesian_mountain_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR u 3 T000900 159 99 bell zoom_2 lines $PLOT_DIR")'
                             ],
          }
%}

{# If we want to run all the tests in one go, then collect them into a single group... #}
{% if 'cartesian-all' not in cartesian_groups.keys() %}
{%   do cartesian_groups.update({'cartesian-all':[]}) %}
{% endif %}
{% for cartesian_subgroup in cartesian_groups.keys() %}
{%   if cartesian_subgroup != 'cartesian-all' %}
{%     do cartesian_groups['cartesian-all'].extend(cartesian_groups[cartesian_subgroup]) %}
{%   endif %}
{% endfor %}
