{# Here we set a dictionary of jobs used in csar tests. csar = Computational and Scientific Assessment Report #}
{# These can then be imported into the main rose stem groups as required #}

{%- set csar_groups = {
                'csar-robert':['run_application( "gungho", "robert",     resolutions=[("BiP50x4-20x20",2.5)],checkkgo=False,
                                                 env={"crun":1, "nrun":432,
                                                      "directives":{"default":{"mpi_parts":5,"threads":1,"wallclock":"02:00:00"} } },
                                                 plotstr="robert_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR 50 4 theta:w3projection_xi2 T000000:T000288:T000432 $PLOT_DIR" )',
                                'run_application( "gungho", "robert10m", resolutions=[("BiP100x4-10x10",1.25)],checkkgo=False,
                                                 env={"crun":1, "nrun":864,
                                                      "directives":{"default":{"mpi_parts":10,"threads":2,"wallclock":"03:00:00"} } },
                                                 plotstr="robert_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR 100 4 theta:w3projection_xi2 T000000:T000576:T000864 $PLOT_DIR" )',
                                'run_application( "gungho", "robert5m", resolutions=[("BiP200x4-5x5",0.625)],checkkgo=False,
                                                 env={"crun":2, "nrun":864,
                                                      "directives":{"default":{"mpi_parts":80,"threads":2,"wallclock":"03:00:00"} } },
                                                 plotstr="robert_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR 200 4 theta:w3projection_xi2 T000000:T001152:T001728 $PLOT_DIR" )'],
                'csar-robert-moist':['run_application("gungho", "robert-moist",
                                      resolutions=[("BiP100x4-10x10", 0.25, 0.5),
                                                   ("BiP50x4-20x20", 0.5)],
                                         env={"crun":5,
                                              "nrun":{"default":50,
                                                   ("BiP100x4-10x10", 0.25): 200,
                                                   ("BiP100x4-10x10", 0.5): 200,
                                                   ("BiP100x4-20x20", 0.25): 200
                                                   },
                                              "directives":
                                                   {"BiP100x4-20x20":
                                                       {"mpi_parts":10,
                                                        "threads":1,
                                                        "wallclock":"01:00:00"},
                                                    "BiP100x4-10x10":
                                                       {"mpi_parts":10,
                                                        "threads":1,
                                                        "wallclock":"01:00:00"},
                                                    "BiP50x4-20x20":
                                                       {"mpi_parts":5,
                                                        "threads":1,
                                                        "wallclock":"01:00:00"}
                                                   }
                                             },
                                         checkkgo=False)'
                             ],
                'csar-sbr':['run_application("gungho", "sbr",
                                      resolutions=[("C24",1800.0),
                                                   ("C48",1800.0),
                                                   ("C96",900.0),
                                                   ("C192",450.0)],
                                         env={"crun":20,
                                              "nrun":{"default":96,
                                                   ("C24", 1800.0): 96,
                                                   ("C48", 1800.0): 96,
                                                   ("C96", 900.0): 96,
                                                   ("C192",450.0): 96
                                                   },
                                              "directives":
                                                   {"C24":
                                                       {"mpi_parts":6,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"},
                                                    "C48":
                                                       {"mpi_parts":24,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"},
                                                    "C96":
                                                       {"mpi_parts":96,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"},
                                                    "C192":
                                                       {"mpi_parts":384,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"}
                                                   }
                                             },
                                         checkkgo=False)'
                              ],
                'csar-sbr-alt':['run_application("gungho", "sbr_deep",
                                         resolutions=[("C12",600.0)],
                                         env={"nrun":36,
                                              "directives":{"default":{"mpi_parts":6,
                                                                       "threads":1,
                                                                       "wallclock":"01:00:00"}
                                                           }
                                             },
                                         checkkgo=False,
                                         plotstr="slices.py ' + appDiagStemName + ' $NODAL_DATA_DIR w3projection_u1:w3projection_u2:w3projection_u3 T000000:T000036 180 0 15 $PLOT_DIR")',
                                 'run_application("gungho", "sbr_shallow",
                                         resolutions=[("C12",600.0)],
                                         env={"nrun":36,
                                              "directives":{"default":{"mpi_parts":6,
                                                                       "threads":1,
                                                                       "wallclock":"01:00:00"}
                                                           }
                                             },
                                         checkkgo=False,
                                         plotstr="slices.py ' + appDiagStemName + ' $NODAL_DATA_DIR w3projection_u1:w3projection_u2:w3projection_u3 T000000:T000036 180 0 15 $PLOT_DIR")'
                             ],
                'csar-baroclinic':['run_application("gungho", "baroclinic",
                                      resolutions=[("C24",1800.0),
                                                   ("C48",1800.0),
                                                   ("C96",900.0),
                                                   ("C192",450.0)],
                                         env={"crun":20,
                                              "nrun":{"default":96,
                                                   ("C24", 1800.0): 96,
                                                   ("C48", 1800.0): 96,
                                                   ("C96", 900.0): 96,
                                                   ("C192",450.0): 96
                                                   },
                                              "directives":
                                                   {"C24":
                                                       {"mpi_parts":6,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"},
                                                    "C48":
                                                       {"mpi_parts":24,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C96":
                                                       {"mpi_parts":96,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C192":
                                                       {"mpi_parts":384,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"}
                                                   }
                                             },
                                         checkkgo=False,
                                         plotstr="baroclinic.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR dcmip u1:u2:u3:surface_pressure_temperature")'
                              ],
                'csar-hiwpp':['run_application("gungho", "baroclinic",
                                      resolutions=[("C192", 450.0),
                                                   ("C192s",450.0),
                                                   ("C384", 225.0),
                                                   ("C384s",225.0)],
                                         env={"crun":4,
                                              "nrun":{"default":96,
                                                   ("C192", 450.0): 96,
                                                   ("C192s",450.0): 96,
                                                   ("C384", 225.0): 96,
                                                   ("C384s",225.0): 96
                                                   },
                                              "directives":
                                                   {
                                                    "C192":
                                                       {"mpi_parts":384,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C192s":
                                                       {"mpi_parts":384,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C384":
                                                       {"mpi_parts":1536,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C384s":
                                                       {"mpi_parts":1536,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"}
                                                   }
                                             },
                                         checkkgo=False,
                                         plotstr="slices.py ' + appDiagStemName + ' $NODAL_DATA_DIR w3projection_u2:w3projection_u3 T000096:T0000192:T000384 180 -35 1 $PLOT_DIR")'
                              ],
                'csar-straka':['run_application( "gungho", "straka_x",   resolutions=[("BiP128x4-400x400",10.0)],checkkgo=False,
                                                 plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR 128 4 theta T000090 $PLOT_DIR" )',
                               'run_application( "gungho", "straka_200m",resolutions=[("BiP256x4-200x200",5.0)],checkkgo=False,
                                                 plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR 256 4 theta T000180 $PLOT_DIR" )',
                               'run_application( "gungho", "straka_100m",resolutions=[("BiP512x4-100x100",2.5)],checkkgo=False,
                                                 env={"crun":1, "nrun":360,
                                                      "directives":{"default":{"mpi_parts":32,"threads":1,"wallclock":"02:00:00"} } },
                                                 plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR 512 4 theta T000360 $PLOT_DIR" )',
                               'run_application( "gungho", "straka_50m", resolutions=[("BiP1024x4-50x50",1.25)],checkkgo=False,
                                                 env={"crun":1, "nrun":720,
                                                      "directives":{"default":{"mpi_parts":128,"threads":1,"wallclock":"03:00:00"} } },
                                                 plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR 1024 4 theta T000720 $PLOT_DIR" )',
                               'run_application( "gungho", "straka_25m", resolutions=[("BiP2048x4-25x25",0.625)],checkkgo=False,
                                                 env={"crun":1, "nrun":1440,
                                                      "directives":{"default":{"mpi_parts":512,"threads":1,"wallclock":"03:00:00"} } },
                                                 plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR 2048 4 theta T001440 $PLOT_DIR" )'],
                'csar-short':['run_application("gungho", "dcmip301",
                                         resolutions=[("C24",10.0)],
                                         checkkgo=False,
                                         plotstr="dcmip301.py ' + appDiagStemName + ' $NODAL_DATA_DIR theta T000180:T000252:T000324:T000360 $PLOT_DIR")',
                              'run_application("gungho", "straka_x",
                                         resolutions=[("BiP128x4-400x400",10.0)],
                                         env={"nrun":180,
                                              "directives":{"default":{"mpi_parts":18,
                                                                       "threads":2,
                                                                       "wallclock":"01:00:00"}
                                                           }
                                             },
                                         checkkgo=False,
                                         plotstr="straka_plot_x.py ' + appDiagStemName + ' $NODAL_DATA_DIR theta T000180 $PLOT_DIR" )',
                              'run_application("gungho", "straka_y",
                                         resolutions=[("BiP4x128-400x400",10.0)],
                                         env={"nrun":90},
                                         plotstr="straka_plot_y.py ' + appDiagStemName + ' $NODAL_DATA_DIR theta T000180 $PLOT_DIR" )',
                              'run_application("gungho", "biperiodic_p0_gw",
                                         resolutions=[("BiP300x4-1000x2000",10.0)],
                                         checkkgo=False)',
                              'run_application("gungho", "biperiodic_p0_gw",
                                         resolutions=[("BiP30x4-12000x2000",10.0)],
                                         checkkgo=False)',
                              'run_application( "gungho", "warm3dbubble",
                                         resolutions=[("BiP100x100-10x10",1.25)],
                                         env={"crun":4, "nrun":90,
                                         "directives":{"default":{"mpi_parts":100,"threads":3,"wallclock":"02:30:00"} } },
                                         plotstr="warm3dbubble.py ' + appDiagStemName + ' $NODAL_DATA_DIR 100 100 theta T000000:T000160:T000320 $PLOT_DIR 0",
                                         checkkgo=False)'
                             ],
		'csar-hs':['run_application( "gungho", "hs",
                                          resolutions=[("C24",600.0),("C48",300.0,600.0)],
                                          env={"crun":200, "nrun": {"default":720,},
                                              "directives":{"default":{"mpi_parts":144,
                                                                       "threads":1,
                                                                       "wallclock":"02:00:00",
								       "xios_nodes":1,},
                                                            "C48":{"mpi_parts":576,
                                                                       "threads":1,
                                                                       "wallclock":"02:00:00",
								       "xios_nodes":1,},
                                                           }
                                             },
                                          checkkgo=False)' ],
		'csar-hs-big':['run_application( "gungho", "hs",
                                          resolutions=[("C96",600.0),("C192",600.0)],
                                          env={"crun":200, "nrun": {"default":720,},
                                              "directives":{"default":{"mpi_parts":144,
                                                                       "threads":1,
                                                                       "wallclock":"02:00:00",
								       "xios_nodes":1,},
                                                            "C96":{"mpi_parts":1152,
                                                                       "threads":1,
                                                                       "wallclock":"03:00:00",
								       "xios_nodes":1,},
                                                            "C192":{"mpi_parts":4608,
                                                                       "threads":1,
                                                                       "wallclock":"03:00:00",
								       "xios_nodes":1,},
                                                           }
                                             },
                                          checkkgo=False)' ],
                  }
%}

{# If we want to run all the tests in one go, then collect them into a single group... #}
{% if 'csar-all' not in csar_groups.keys() %}
{%   do csar_groups.update({'csar-all':[]}) %}
{% endif %}
{% for csar_subgroup in csar_groups.keys() %}
{%   if csar_subgroup != 'csar-all' %}
{%     do csar_groups['csar-all'].extend(csar_groups[csar_subgroup]) %}
{%   endif %}
{% endfor %}


