{# Here we set a dictionary of jobs used in exoplanets development. #}
{# These can then be imported into the main rose stem groups as required. #}
{# For information on how to run these jobs please see: #}
{# https://code.metoffice.gov.uk/trac/lfric/wiki/GungHo/RoseStemCsarFunctionality #}

{%- set exoplanets_groups = {
        'exo-hs':['run_application( "gungho", "hs",
                                          resolutions=[("C24",1800)],
                                          checkkgo=False,
                                          env={"crun":20, "nrun": {"default":2880,},
                                              "directives":{"C24":{"mpi_parts":24,
                                                                       "threads":1,
                                                                       "wallclock":"01:30:00",},
                                                           }
                                             },
                plotstr="plot_zonal.py $NODAL_DATA_DIR/lfric_averages.nc $PLOT_DIR",
                publish=True
                )'
                      ],
        'exo-el':['run_application( "gungho", "el",
                                          resolutions=[("C24",1800)],
                                          checkkgo=False,
                                          env={"crun":20, "nrun": {"default":2880,},
                                              "directives":{"C24":{"mpi_parts":24,
                                                                       "threads":1,
                                                                       "wallclock":"01:30:00",},
                                                           }
                                             },
                plotstr="plot_zonal.py $NODAL_DATA_DIR/lfric_averages.nc $PLOT_DIR",
                publish=True
                )'
                      ],
}
%}

{# If we want to run all the tests in one go, then collect them into a single group... #}
{% if 'exoplanets-all' not in exoplanets_groups.keys() %}
{%   do exoplanets_groups.update({'exoplanets-all':[]}) %}
{% endif %}
{% for exoplanets_subgroup in exoplanets_groups.keys() %}
{%   if exoplanets_subgroup != 'exoplanets-all' %}
{%     do exoplanets_groups['exoplanets-all'].extend(exoplanets_groups[exoplanets_subgroup]) %}
{%   endif %}
{% endfor %}
