{# Here we set a dictionary of jobs that test runs with surface orography. #}
{# These can then be imported into the main rose stem groups as required #}

{%- set orography_groups = {
  'orography': [
    'run_application("gungho", "dcmip200_realorog",
                     resolutions=[("C48",600.0)],
                     support_meshes=["C24","C12","C6"],
                     env={"crun":1, "nrun":864,
                          "directives":{"default":{"mpi_parts":96,
                                                   "threads":2,
                                                   "wallclock":"00:40:00"} } },
                     plotstr="")',
    'run_application("gungho", "dcmip200_realorog_mg",
                     resolutions=[("C48",600.0)],
                     support_meshes=["C24","C12","C6"],
                     env={"crun":1, "nrun":864,
                          "directives":{"default":{"mpi_parts":96,
                                                   "threads":2,
                                                   "wallclock":"00:40:00"} } },
                     plotstr="")',
    'run_application("gungho", "dcmip200_realorog_mgprecon",
                     resolutions=[("C48",600.0)],
                     support_meshes=["C24","C12","C6"],
                     env={"crun":1, "nrun":864,
                          "directives":{"default":{"mpi_parts":96,
                                                   "threads":2,
                                                   "wallclock":"00:40:00"} } },
                     plotstr="")',
    'run_application("gungho", "dcmip200",
                     resolutions=[("C24",600.0)],
                     support_meshes=["C12","C6","C3"],
                     env={"crun":1, "nrun":864,
                          "directives":{"default":{"mpi_parts":6,
                                                   "use_xios":"False",
                                                   "threads":3,
                                                   "wallclock":"00:40:00"} } },
                     plotstr="slices_orography.py ' + appDiagStemName + ' $NODAL_DATA_DIR u T000864 0 0 0 $PLOT_DIR 2-0-0")',
  ],
}
%}
