{%- set projectName = 'science' %}
{%- set projectDir  = 'components/science' %}
{%- set miniappFlag = False %}

{%- set projectApps = [ None ] %}


{# Set the  compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], omission defaults to 'fast-debug' #}
{%- set run_application_profile = '' %}

{%- set rdef_default  = "64" %}
{%- set mesh_rdef     = "64" %}
{%- set mesh_build    = "fast-debug" %}
{%- set mesh_compiler = "intel" %}
{%- set MAXRUNAHEAD     = 1 %}

{%- set groups = {'developer': ['check_compilers("fast-debug", publish=True)',
                                'api_documentation_graph(publish=True)',
                                'check_style_graph()',
                                'unit_tests_graph("intel", "64")'],
                  'nightly'  : ['null_task_graph()']
                 }
%}

